<!DOCTYPE html>
<html>
  <head>
    <title>PhoneVerification</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div data-turbo="false">
      <h1>
        Verify Your US or Canadian Phone Number!
      </h1>

      <p class="alert alert-error">
        <%= flash[:error] %>
      </p>

      <p class="alert alert-success">
        <%= flash[:success] %>
      </p>
        <%= yield %>
    </div>
  </body>
</html>
